*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.placeholder-shown\:border:placeholder-shown{
  border-width: 2px;
}
.custom-carsoul button{
  display: none;
}
@media (min-width: 992px) { .header_shrink{
  position: fixed;
 } }
